body {background-color: #607AFB;}
h1 {color: #EAC2A2; font-family: Helvetica; font-size: 30px;}
p {color: #EAC2A2; font-family: Garamond; font-size: 14px;}
img {margin-left: 200px;border-color: blue; border-width: 3px; border-style:dotted;}
ul {color: #EAC2A2;}
a {color: #EAC2A2; text-decoration: none;}
a:hover {color: blue; text-decoration: underline;}














